body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, 
input, textarea, button, p, blockquote, th, td{
    margin: 0;
    padding: 0;
}

li {list-style-type: none;}

a {text-decoration: none;}

img, input, button{
    border: none;
    vertical-align: middle;
}